<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <title>Job - Street - Your Path to a Better Job</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>    

    <%= csrf_meta_tags %>
 
  </head>

  <body>

    <div class="container-fluid" id="main">
    </div>

    <script type="text/javascript">
      <% if signed_in? %>
        BJS.currentUser = new BJS.Models.User(<%= current_user.to_json.html_safe %>);
      <% else %>
        BJS.currentUser = null;
      <% end %>
      BJS.start();
    </script>

    <%= render 'layouts/ads_footer' %>
      

  </body>
</html>